<%= form_with(model: model) do |form| %>
  <% if model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
        <% model.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :brand_id %> 
    <%= form.collection_select :brand_id, brands, :id, :name %>
    <% model.errors.full_messages_for(:brand_id).each do |message| %>
      <div> <%= message %> </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :parent_id %>
    <%= form.collection_select :parent_id, models, :id, :name, :include_blank => true %>
    <% model.errors.full_messages_for(:parent_id).each do |message| %>
      <div> <%= message %> </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :cars_count %>
    <%= form.number_field :cars_count %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
