<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @model.brand.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @model.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @model.parent_id %>
</p>

<p>
  <strong>Cars count:</strong>
  <%= @model.cars_count %>
</p>

<p>
  <strong>Description:</strong>
  <%= @model.description %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
