<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :fueltype %>
    <%= form.select(:fueltype, options_for_select(['Petrol', 'Diesel', 'Gaz'])) %>
  </div>

  <div class="field">
    <%= form.label :bodytype %>
    <%= form.select(:bodytype, options_for_select(['Hatchback', 'Sedan', 'Jeep', 'SUV', 'Van', 'Coupe'])) %>
  </div>

  <div class="field">
    <%= form.label :gearbox %>
    <%= form.select(:gearbox, options_for_select(['Automatic', 'Manual'])) %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
